<h1>Listing investments</h1>

<table>
  <thead>
    <tr>
      <th>Portfolio</th>
      <th>User</th>
      <th>Name</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.portfolio_id %></td>
        <td><%= investment.user_id %></td>
        <td><%= investment.name %></td>
        <td><%= investment.category_id %></td>
        <td><%= link_to 'Show', investment %></td>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
        <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
