<p id="notice"><%= notice %></p>

<p>
  <strong>Portfolio:</strong>
  <%= @investment.portfolio_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @investment.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @investment.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @investment.category_id %>
</p>

<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
